.modal {
  display: flex;
  padding: 2rem 3rem;
  background-color: var(--black);
  position: relative;
}
.modal__video source {
  position: absolute;
  top: 0%;
  left: 0;
  width: 80%;
  height: 50%;
}
.modal__iconbutton {
  font-size: 3rem;
  margin: 0 1rem;
}
