.card {
  width: 50% !important;
  margin: 1rem !important;
  border-radius: 3rem !important;
}
.card-img-top {
  padding: 2rem 2rem 1rem 2rem !important;
  border-radius: 4rem !important;
}

.card-body {
  flex-direction: row;
}

.card-title {
  text-align: left !important;
  color: var(--black2) !important;
  font-family: var(--font) !important;
  font-size: 4.2rem !important;
  font-weight: 400 !important;
  text-transform: capitalize;
  padding-left: 2rem;
}

.button {
  width: 10rem !important;
}
