.button {
  padding: 0.8rem 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 2rem 0 !important;
}

.button__card {
  width: 30% !important;
  color: var(--black2) !important;
  background-color: var(--white) !important;
  border: 2px solid var(--black) !important;
}
.button__card:hover {
  background-color: var(--primary-green) !important;
}

.button__green {
  background-color: var(--primary-green);
  border: 2px solid var(--black);
  color: var(--black2);
}
.button__hero_page {
  width: 15% !important;
}
.button__black {
  background-color: var(--black2);
  color: var(--white);
  border: 2px solid var(--white);
}
.button-main {
  border-radius: 2rem;
  font-family: var(--font);

  font-weight: 500;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.button-main:hover {
  color: var(--black);
  background-color: var(--white);
  border: 2px solid var(--black);
}
