.shop_card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  margin: 0 2rem 3rem 2rem;
  background-color: var(--lightgray);
  border-radius: 2rem;
  overflow: hidden;
}
.shop_image {
  width: 100%;
}
.shop_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.shop_title {
  font-size: 2.2rem;
  font-family: var(--font);
  font-weight: 400;
  line-height: 1.4;
  text-transform: capitalize;
  padding: 0 3rem;
}
.shop_text {
  font-size: 1.4rem;
  color: var(--gray2);
  font-family: var(--font);
  padding: 0 3rem;
}
.shop_button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 4rem;
}
.button_price {
  font-size: 4rem;
  color: var(--black2);
  font-weight: 500;
  padding: 1rem;
}
