.icon_button {
  padding: 0.6rem 1.2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.icon_button-main {
  background-color: var(--hero);
  color: var(--black);
  border-radius: 2rem;
  font-family: var(--font);
  border: 2px solid var(--black);
  font-weight: 600;
}

.icon_button-main:hover,
.icon_button-main:active {
  background-color: var(--white);
  color: var(--black);
}

.icon_button-main span {
  background: #000000;
  transition: all 0.3s;
  color: #a8d741;
  border-radius: 50%;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0 6px;
}

.icons {
  font-size: 1.2rem;
}
