.works-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 2.4rem;
  margin-bottom: 2rem;
}
.works-card {
  background-color: var(--white);
}
.works-card_one {
  border-radius: 2rem 1rem;
  margin-bottom: 2rem;
}
.works-card_picture {
  width: 100%;
  padding: 2rem;
  border-radius: 4rem;
}

.works-card_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.works-card .works-card-title {
  font-size: 4.4rem;
  text-transform: capitalize;
  font-family: var(--font);
  font-weight: 500;
  color: var(--black);
  text-align: left;
  padding-left: 2rem;
}
