.feature_heading {
  padding-top: 1.2rem;
  font-family: var(--font);
  font-weight: 600;
  text-transform: capitalize;
}
.feature_bordertop {
  border-top: 1px solid var(--gray);
}
.feature_bordernon {
  border-top: none;
}

.feature__marginbottom {
  margin-bottom: 3.2rem;
}
.fearture_marginnon {
  margin-bottom: none;
}

.title__white {
  color: var(--white);
}
.title__black {
  color: var(--black);
}

.feature__bigfont {
  font-size: 2rem;
}

.feature__smallfont {
  font-size: 1.4rem;
}
