.feature_heading {
  padding-top: 1.2rem;
  font-family: var(--font);
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 3.2rem;
}
.feature_bordertop {
  border-top: 1px solid var(--gray);
}
.feature_bordernon {
  border-top: none;
}
.title__white {
  color: var(--white);
}
.title__black {
  color: var(--black);
}

.feature__bigfont {
  font-size: 2rem;
}

.feature__smallfont {
  font-size: 1.4rem;
}
.feature__biggerfont {
  font-size: 4.4rem;
  text-align: center;
  font-weight: 400;
  font-family: var(--font);
}
