/* hero-section  */

.hero-section {
  padding: 3.2rem 1.6rem 1rem 1.6rem;
  background-color: var(--primary);
}

.container {
  max-width: 130rem !important;
  padding: 0 4.2rem !important;
}
.row {
  display: flex !important;
  align-items: center !important;
}
.justify__content {
  justify-content: center;
}
.row--bg {
  align-items: center;
  background: var(--primary-green);
  padding: 8rem 3rem !important;
  border-radius: 2rem !important;
  margin: 0;
}
.heading__underline {
  text-align: center;
  text-decoration: underline;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: var(--font);
  margin-bottom: 1rem;
  color: var(--heading-color);
}

.p__text {
  color: var(--heading-color);
  text-align: center;
  font-size: 1.2rem;
}
